
*.exe
*.ilk
*.pdb
Project/msvc11/Debug/*.obj
Project/msvc11/Release/*.obj
*.tlog
*.log
*.idb
*.sdf
*.suo
*.lastbuildstate
*.opensdf
*.user
*.unsuccessfulbuild
*.sbr
*.bsc
Debug/assimp-vc120-mt.dll
Debug/FreeImage.dll
Release/assimp-vc120-mt.dll
Release/FreeImage.dll
